<div *ngIf="p.productDetails.title" class="card" >
    <img *ngIf="p.productDetails.imageUrl" class="card-img-top" [src]="p.productDetails.imageUrl" alt="p.productDetails.title">
    <div class="card-body">
        <h5 class="card-title">{{p.productDetails.title}}</h5>
        <p class="card-text">{{p.productDetails.price | currency: 'USD':true}}</p>
        <div *ngIf="showActions" class="card-footer">
            <button  *ngIf="getQuantity() === 0; else updateQuantity" 
            class="btn btn-dark btn-block" (click)="addToCart(p)">Add to Cart</button>
           <ng-template #updateQuantity>
              <div class="row no-gutters">
                  <div class="col-2">
                      <button class="btn btn-dark btn-block">-</button>
                  </div>
                  <div class="col text-center">
                    {{getQuantity()}} in cart
                  </div>
                  <div class="col-2">
                    <button class="btn btn-dark btn-block">+</button>
                </div>
              </div>
           </ng-template>
        </div>
        
    </div>
</div>

