<div *ngIf="p.productDetails.title" class="card" >
    <img *ngIf="p.productDetails.imageUrl" class="card-img-top" [src]="p.productDetails.imageUrl" alt="p.productDetails.title">
    <div class="card-body">
        <h5 class="card-title">{{p.productDetails.title}}</h5>
        <p class="card-text">{{p.productDetails.price | currency: 'USD':true}}</p>
        <div *ngIf="showActions" class="card-footer">
            <button   class="btn btn-primary btn-block" (click)="addToCart(p)">Add to Cart</button>
            {{getQuantity()}}
        </div>
        
    </div>
</div>