<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<!-- <p>
    <input type="text" class="form-control" placeholder="Search" (keyup)="filter(query.value)" #query>
</p> -->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-light table-striped">
    <thead class="bg-dark">
        <tr class="text-white">
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price}}</td>
            <td>
                <a [routerLink]=" ['/admin/products/', p.key] "> Edit </a>
            </td>
        </tr>
    </tbody>
</table>