<div class="row">
    <ng-container *ngFor="let p of products$ | async; let i = index">
        <div class="col">
            <div class="card my-2" style="width: 15rem;">
                <img class="card-img-top" [src]="p.payload.val().imageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{p.payload.val().title}}</h5>
                    <p class="card-text">{{p.payload.val().price | currency: 'USD':true}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div *ngIf="(i + 1)%2 === 0" class="w-100"></div>
    </ng-container>

</div>